@import '~styles/common';

$bg-color: #1d2c4d;
$form-bg-color: #f5f5f5;
$font-color: #000;

body {
  background-color: $bg-color;
  color: $font-color;
}

html,
body {
  height: 100%;

}

.hide {
  display: none;
}

.clickable {
  cursor: pointer;
}

.map-block {
  height: 100%;
  position: fixed;
  width: 100%;
}

$collapse-btn-width: 50px;

.collapse-btn {
  background-color: $form-bg-color;
  border: 1px solid;
  float: left;
  height: 50px;
  position: relative;
  text-align: center;
  top: 100px;
  width: $collapse-btn-width;
}



@media screen and (min-width: 450px) {
  .table th {
    min-width: 114px;
  }

  .data-panel {
    width: 380px;
  }

  .collapsed {
    margin-left: -380px;
  }
}

@media screen and (max-width: 450px) {
  .table th {
    width: auto;
  }

  .panel {
    font-size: .8rem;
  }

  .data-panel {
    width: 250px;
  }

  .collapsed {
    margin-left: -250px;
  }
}

.data-panel {
  float: left;
  transition: margin-left 1s;
}

.data-block {
  height: 100%;
  position: fixed;
  z-index: 1;

  .datatable-block {
    height: calc(100% - 80px);
    overflow-x: hidden;
    overflow-y: scroll;

    .table {
      margin: 0;
    }

  }
}

.arrow-up::after {
  content: '\21d1';
}

.arrow-down::after {
  content: '\21d3';
}

.panel {
  background-color: $form-bg-color;
  height: 100%;
}

.title:not(.is-spaced) + .subtitle {
  margin-top: 0;
}

.title:not(:last-child),
.subtitle:not(:last-child) {
  margin-bottom: 0;
}
